<configuration>
<system.webServer>
<handlers>
<add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
</handlers> <rewrite>
<rules>
<!-- Add this rule to properly handle CORS preflight requests -->
<rule name="CORS Preflight" stopProcessing="true">
<match url=".*" />
<conditions>
<add input="{REQUEST_METHOD}" pattern="OPTIONS" />
</conditions>
<action type="CustomResponse" statusCode="200" statusReason="OK"
statusDescription="OK" />
</rule>
<rule name="NodeInspector" patternSyntax="ECMAScript"
stopProcessing="true">
<match url="^dist/index.js\/debug[\/]?" />
</rule>
<rule name="StaticContent">
<action type="Rewrite" url="public{REQUEST_URI}" />
</rule>
<rule name="DynamicContent">
<conditions>
<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
</conditions>
<action type="Rewrite" url="dist/index.js" />
</rule>
</rules>
</rewrite>
<!-- Add these iisnode settings -->
<iisnode
nodeProcessCommandLine="node"
watchedFiles="*.js;iisnode.yml
"
debuggingEnabled="true"
loggingEnabled="true"
devErrorsEnabled="true" />
<!-- Allow CORS headers to pass through -->
<httpProtocol>
<customHeaders>
<remove name="X-Powered-By" />
</customHeaders>
</httpProtocol>
</system.webServer>
</configuration>
